@import url("main.css");


body{
	font-family: Arial;	
	margin: 0;
	font-weight: bold;
	background-color: var(--main-bg-color);
}

nav{
	text-align: center;
	display: flex;
}

nav a{
	flex: 1 1 0;
	text-decoration: none;
	color: var(--main-bg-color);
	font-size: 18px;
	padding: 15px;		
}

.topic-0{background-color: var(--color-topic-1);}
.topic-1{background-color: var(--color-topic-2);}
.topic-2{background-color: var(--color-topic-3);}
.topic-3{background-color: var(--color-topic-4);}
.topic-4{background-color: var(--color-topic-5);}
.topic-5{background-color: var(--color-topic-6);}

header{
	font-size: 40px;
	background: var(--header-color);
	display: flex;
	color: var(--main-bg-color);
}

img{height: 75px;}

.header{
	flex: 4;
	text-align: center;
	margin-top: 15px;
	margin-right: 15px;	
}

.heady{flex: 1;}

.bild{
	flex: 1;
	height: 75px;
}

content{display: flex;}

content div{
	
	padding: 30px;
	font-weight: bold;
}

.c1{flex: 4 1 0;}

.c2{flex: 1 1 0;}

.c2 h1 div{
	color: var(--color-topic-2); 
	text-align: center;
	background-color: var(--header-color);
	border: 1px solid;
	border-radius: 7px;
	border-color: black;
}

.anima{
	background-color:var(--header-color);
	height:50%;
	border-radius: 7px;
	border-color: black;
	border: 1px solid;
}

.beispielSass{color:var(--color-topic-2)}
.beispielCSS{color:var(--header-color)}

content h1 div{
text-align:center;
}

.c1 div{
	margin-top: 30px;
	margin-left: 20px;	
	padding: 10px;
	border-radius: 7px;
	border: 1px solid;
	border-color: black;
	color: var(--main-bg-color);
}

.c1 .ueberschrift{color:var(--color-topic-2);}

div code{
	background-color: var(--main-bg-color);
	border-radius: 3px;
	padding: 2px;
	color: var(--color-topic-2);
}

.ueberschrift{background-color: var(--header-color);
	color: var(--color-topic-2);
	transition: color 1s;
	transition:background 1s}

.ueberschrift:hover {
	background-color: var(--color-topic-2);
	color: var(--main-bg-color);
}

.p{ 
	background-color: var(--header-color);
	transition:background 1s 
}

.p:hover {
	background-color: var(--color-topic-2);
}

.anima:hover{
	background-color: var(--color-topic-2);
}