@import url("main.css");

body{
    position: absolute;
    padding: 0;
    margin: 0;
    height: 1080px;
    width: 100%;
    background-color: var(--font-color);
    color: var(--main-bg-color);
    min-width: 1200px;
}

header{
    background-color: var(--header-color);
    padding-bottom: 1%;
    min-width: 1200px;
}

.header-text {
    font-size: var(--header-font-size);
    font-weight: bold;
    color: var(--font-color);
}

#note{
    margin-top: 40px;
    margin-bottom: 20px;
    font-style: italic;
  }

span a{
    color: var(--color-topic-5);
}

h1{
    position: absolute;
    text-align: center;
    top: -12px;
    left: 37%;
    color: #424242;
    font-size: 40px;
}

h2{
    color: var(--color-topic-5);
}

h3{
    color: var(--color-topic-5);
}

img{
    height: 75px;
}

nav{
text-align: center;
display: block;
font-weight: bold;
}

nav a{
font-size: 18px;
text-decoration: none;
color: var(--font-color);
}

content{
    position: absolute;
    text-align: left;
    padding-left: 20%;
    padding-top:  20px;
    width: 60%;
    top: 130px;
}

pre code{
	background-color: rgb(46, 46, 46);
	border-radius: 3px;
    padding:2px;
    font-weight: bold;
    color: white;
}

.code-box-big {
    background-color: var(--font-color);
    border-radius: 8px;
    border-style: solid;
    border-width: thin;
    border-color: #ebebeb;
    background-color: #303030;
    color: var(--main-bg-color);
    text-align: left;
    padding-left: 15px;
  }

.topic-1 {
    position: absolute;
    top: 75px;
    left: 0;
    width: 16.67%;
    padding: 0.75%;
    background-color: var(--color-topic-1);
}

.topic-2 {
    position: absolute;
    top: 75px;
    left: 16.67%;
    width: 16.67%;
    padding: 0.75%;
    background-color: var(--color-topic-2);
}

.topic-3 {
    position: absolute;
    top: 75px;
    left: 33.34%;
    width: 16.67%;
    padding: 0.75%;
    background-color: var(--color-topic-3);
}

.topic-4 {
    position: absolute;
    top: 75px;
    left: 50.01%;
    width: 16.67%;
    padding: 0.75%;
    background-color: var(--color-topic-4);
}

.topic-5 {
    position: absolute;
    top: 75px;
    left: 66.68%;
    width: 16.67%;
    padding: 0.75%;
    background-color: var(--color-topic-5);
}

.topic-6 {
    position: absolute;
    top: 75px;
    left: 83.35%;
    width: 16.67%;
    padding: 0.75%;
    background-color: var(--color-topic-6);
}







.before{
    padding: 1%;
    background-color: var(--color-topic-5);
    border-radius: 10px;
    color: #303030;
    position: absolute;
    left: 20%;
    animation-name: vanish-before;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.arrow{
    position: absolute;
    left: 55%;
    top: 900px;
    vertical-align: middle;
    animation-name: vanish-arrow;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.after{
    padding: 1%;
    background-color: var(--color-topic-5);
    border-radius: 10px;
    color: #303030;
    position: absolute;
    left: 65%;
    animation-name: vanish-after;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

arrow-head{
    border: solid var(--color-topic-5);
    border-width: 0 3px 3px 0;
    display: inline-block;
    width:40px;
    height:40px;
    transform: rotate(-45deg);
}

@keyframes vanish-before{
    0% {opacity: 0;}
    10% {opacity:  0;}
    11% {opacity: 1;}
    80% {opacity: 1;}
    100%{opacity: 0;}
}

@keyframes vanish-arrow{
    0% {opacity: 0;}
    20% {opacity:  0;}
    21% {opacity: 1;}
    80% {opacity: 1;}
    100%{opacity: 0;}
}

@keyframes vanish-after{
    0% {opacity: 0;}
    30% {opacity:  0;}
    31% {opacity: 1;}
    80% {opacity: 1;}
    100%{opacity: 0;}
}