@import url("main.css");

body{
    margin: 0;
    display: table;
    background-color: var(--font-color);
    color: var(--main-bg-color);
    min-width: 1020px;
}

header{
    background-color: var(--header-color);
}

.header-text {
    text-align: center;
    vertical-align: middle;
    font-size: var(--header-font-size);
    font-weight: bold;
    color: var(--font-color);
}

img{
    display: block;
    width: 150px;
}

.nav-item{
    text-align: center;
    vertical-align: middle;
    height: 50px;
}

.topic-2, .topic-3, .topic-4, .topic-5{
    width: calc(100%/4);
}

a {
    text-decoration: none;
    color: var(--color-topic-3);
    font-weight: bold;
}

li ol li a{
    font-weight: normal;
}

.nav-item a{
    color: var(--font-color);
}

h3{
    padding-left: 10px;
}

.content{
    padding-left:40px;
    padding-right:40px;
}

.inner-table{
    display: table;
    width:100%;
}

.table-row{
    display: table-row;
}

.table-column-edge{
    display:table-column;
    width: calc(100%/6)
}

.table-column-center{
    display:table-column;
    width: calc(100%*4/6);
}

.table-cell{
    display: table-cell;
}

h1, h3, .highlight{
    color: var(--color-topic-3);
}

.code{
    display: inline-block;
    background-color: var(--main-bg-color);
    color: var(--font-color);
    border-radius: 4px;
    font-family: monospace;
}

table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right:auto;
}

td, th {
    border: 2px solid var(--main-bg-color);
    text-align: left;
    padding: 8px;
}

caption{
    padding-top: 4px;
    caption-side: bottom;
}

pre{
    background-color: var(--main-bg-color);
    margin-left: auto;
    margin-right: auto;
    color: var(--font-color);
    border-radius: 4px;
    font-family: monospace;
    border: 2px solid var(--color-topic-3);
    padding-left: 5px;
    padding-right: 5px;
}

arrow-head{
    border: solid var(--color-topic-3);
    border-width: 4px 4px 0 0;
    display: inline-block;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
}

.transition-left{
    animation-name: change-opacity-left;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
}

.transition-center{
    text-align: center;
    vertical-align: middle;
    animation-name: change-opacity-center;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
}

.transition-right{
    animation-name: change-opacity-right;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
}

@keyframes change-opacity-left{
    0% {opacity: 0;}
    10% {opacity:  0;}
    11% {opacity: 1;}
    100% {opacity:  1;}
}

@keyframes change-opacity-center{
    0% {opacity: 0;}
    30% {opacity:  0;}
    31% {opacity: 1;}
    100% {opacity:  1;}
}

@keyframes change-opacity-right{
    0% {opacity: 0;}
    50% {opacity:  0;}
    51% {opacity: 1;}
    100% {opacity:  1;}
}

p.table-cell {
    padding-top:10px;
    padding-bottom: 10px;
}

.center-text{
    text-align: center;
}

.footer-text{
    font-size: x-small;
}

.scss:hover:after{
    content: " (Sassy Cascading Style Sheets)";
}

.css:hover:after{
    content: " (Cascading Style Sheets)";
}