@import url("main.css");

body{
    margin: 0;
    display: table;
    background-color: var(--main-bg-color);
}

header{
    background-color: var(--header-color);
}

.header-text {
    text-align: center;
    vertical-align: middle;
    font-size: var(--header-font-size);
    font-weight: bold;
    color: var(--main-bg-color);
}

img{
    display: block;
    width: calc(100%/6);
    min-width: 150px;
}

.nav-item{
    width: calc(100%/5);
    text-align: center;
    border-top: 1px solid var(--main-bg-color);
    vertical-align: middle;
    font-weight: bold;
    color: var(--main-bg-color);
    height: 50px;
}

.nav-item, .topic1{
    width:calc(100%/6);
}

a {
    text-decoration: none;
    color: inherit;
}


aside{
    padding-left: 10px;
}

section{
    color:white;
}

.inner-table{
    display: table;
    width:100%;
}

.table-row{
    display: table-row;
}

.table-column-1{
    display:table-column;
    width: calc(100%/6);
}

.table-column-2{
    display:table-column;
    width: calc(100%*5/6);
}

.table-cell{
    display: table-cell;
}