:root{
  --main-bg-color:  #424242;
  --color-topic-1:  #a7ffeb;
  --color-topic-2:  #b9f6ca;
  --color-topic-3:  #ccff90;
  --color-topic-4:  #f4ff81;
  --color-topic-5:  #ffd180;
  --color-topic-6:  #ff9e80;
}
