:root{
  --main-bg-color:  #424242;
  --color-topic-1:  #a7ffeb;
  --color-topic-2:  #b9f6ca;
  --color-topic-3:  #ccff90;
  --color-topic-4:  #f4ff81;
  --color-topic-5:  #ffd180;
  --color-topic-6:  #ff9e80;
  --header-font-size: 40px;
  --header-color:  #fff7f7;
  --header-font-color:  #424242;
  --example-bg-color: #f8f8f8;
}

.topic-1 {
  background-color: var(--color-topic-1);
}
.topic-2 {
  background-color: var(--color-topic-2);
}
.topic-3 {
  background-color: var(--color-topic-3);
}
.topic-4 {
  background-color: var(--color-topic-4);
}
.topic-5 {
  background-color: var(--color-topic-5);
}
.topic-6 {
  background-color: var(--color-topic-6);
}
