@import url("main.css");

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: var(--main-bg-color);
  color: var(--font-color);
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  color: var(--font-color);
}

h1 {
  color: var(--color-topic-6);
  font-size: 40px;
}

h2 {
  color: var(--font-color);
<<<<<<< HEAD
=======
}
li{
  padding-top: 8px;
  padding-bottom: 8px;
>>>>>>> 3ccf89a1475c154801f0c7852e7b0919525282af
}

.highlight {
  font-style: italic;
  color: var(--color-topic-6);
}

#top-comment{
  margin-top: 40px;
  margin-bottom: 20px;
  font-style: italic;
}

.code-box-big {
  background-color: var(--example-bg-color);
  border-radius: 8px;
  border-style: solid;
  border-width: thin;
  border-color: #ebebeb;
}

.example-text{
  margin-left: 20px;
  font-weight: lighter;
  white-space: pre;
}

.code-box-small{
  background-color: var(--example-bg-color);
  border-style: solid;
  border-width: thin;
  border-color: #ebebeb;
  border-radius: 3px;
  padding: 2px;
  font-weight: lighter;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 75px 50px;
  grid-row-gap: 1px;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  color: var(--font-color);
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column: span 2;
}

.img-wrapper{
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--header-color);
}
.filler {
  background-color: var(--header-color);
  grid-column-start: 11;
  grid-column-end: 13;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 3;
  grid-column-end: 11;
  background-color: var(--header-color);

  font-size: var(--header-font-size);
  font-weight: bold;
  color: var(--font-color);
}

.topic-1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.topic-2 {
  grid-column-start: 3;
  grid-column-end: 5;
}
.topic-3 {
  grid-column-start: 5;
  grid-column-end: 7;
}
.topic-4 {
  grid-column-start: 7;
  grid-column-end: 9;
}
.topic-5 {
  grid-column-start: 9;
  grid-column-end: 11;
}
.topic-6 {
  grid-column-start: 11;
  grid-column-end: 13;
}
.content {
  grid-row-start: 3;
  grid-column: span 8;
}
.pad-container{
  padding-left: 10%;
  padding-right: 10%;
}
.side-nav {
  grid-row-start: 3;
  grid-column: span 4;
  margin-top: 40px;
}
.side-nav h2 {
  margin-top: 0;
}
@keyframes change-color{
  0% {background-color: red;}
  50% { background-color: orange;}
  100% {
    background-color: yellow;
    border-style: solid;}
}

.animated-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 10px;
  animation-name: change-color;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.animated-box-without-animation{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: red;
}
.crazy-nav{
  font-size: 50px;
  position: fixed;
  bottom: 1%;
  right: 5%;
}
.crazy-nav p {
  color: var(--color-topic-6);
}
